<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="com.chavaillaz.appender.log4j">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <ElasticsearchAppender name="Elasticsearch">
            <PatternLayout pattern="%msg" />
            <Application>Log4J Example</Application>
            <Converter>com.chavaillaz.appender.log4j.DefaultLogConverter</Converter>
            <Index>INDEX_NAME_HERE</Index>
            <IndexSuffix>-yyyy.MM.dd</IndexSuffix>
            <Url>PUT_URL_HERE</Url>
            <ApiKey>PUT_KEY_HERE</ApiKey>
        </ElasticsearchAppender>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.mkyong" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="Elasticsearch" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToConsole" />
        </Root>
    </Loggers>
</Configuration>